.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/sign_bg.jpg);
  background-position: center;
  background-size: cover;

  .input-password {
    // background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login/img/22_close.0efad8c4.png),url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login/img/33_close.eea03c39.png);
  }

  .login-dialog {
    background-color: #fff;
    // background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login/img/22_open.72c00877.png),
    //   url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login/img/33_open.43a09438.png);
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 14%;
    padding: 50px 60px 20px;
    border-radius: 6px;

    .ant-form label {
      width: unset;
    }

    .login-form {
      width: 340px;
      text-align: center;
      background-color: #fff;
      opacity: 1;

      .ant-form-item-explain-error {
        text-align: left;
      }

      .login-form-remember {
        display: flex;
        justify-content: space-between;

        .remember-me {
          min-width: 200px;
        }

        .login-form-forgot {
          line-height: 30px;
        }
      }

      .register {
        display: flex;
      }

      .login-btn {
        width: 100%;
      }

      input {
        font-size: 14px;
      }
    }
  }
}
